.page-header{
	font-family: @myriad-regular;
	text-align: center;

	
	&__inner{
		padding-top: 20px;
		box-shadow: 7px 4px 5px 0px rgba(0, 0, 0, 0.11);
		position: relative;
		z-index: 2;
	}
	&__line{
		padding-bottom: 30px;
		&--first{
			padding-bottom: 15px;
			&:after{
				content: '';
				width: 100%;
				height: 1px;
				background-color: #000;
				margin-right: 40px;
				margin-left: 40px;
				margin-top: 15px;
			    @media only screen and (max-width:  @screen-lg-max) {
			        display: none;
			    }					
			}
		}		
	}

	&__social{
		margin-left: 20px;
		i{
			margin-right: 5px;
			cursor: pointer;
			opacity: 0.5;
			&:hover{
				opacity: 1;
			}
		}
	    @media only screen and (max-width:  @screen-lg-max) {
	        margin-bottom: 10px;
	    }		
	}
	&__shipping{

	    @media only screen and (max-width:  @screen-lg-max) {
	        margin-left: 0;
	        margin-bottom: 10px;
	    }
	    @media only screen and (max-width:  @screen-sm-max) {
			font-size: @font-size-small;
	    }	    		
	}

	&__address{
	    @media only screen and (max-width:  @screen-lg-max) {
	        padding: 0 50px;
	        margin-bottom: 20px;
	    }			
	    @media only screen and (max-width:  @screen-sm-max) {
	        display: flex;
	        padding: 0;
	    }		
	}
	&__address-item{
		text-align: left;
		display: flex;
		justify-content: space-between;	


	    @media only screen and (max-width:  @screen-lg-max) {
	        text-align: center;
	        margin-left: 0;
	        margin-right: 0;
	    }
	    @media only screen and (max-width:  @screen-sm-max) {
	        display: block;
	        width: 50%;
			font-size: @font-size-small;
	    }
		p{
			margin: 0;
		}
	}
	&__city{
		min-width: 140px;
	}	
	&__flags{
		text-align: center;
		margin-top: 5px;
	}
	&__flag-item{
		width: 50px;
		height: 30px;
		display: inline-block;
		vertical-align: bottom;
		border: 1px solid @text-gray;
		background-size: 100% 100%;


		&:first-child{
			background-image: url(../img/flag-ru.png);
		}
		&:last-child{
			background-image: url(../img/flag-en.png);
		}		
	}


	&__logo{
		display: block;
		margin-bottom: 15px;

	    @media only screen and (max-width:  @screen-sm-max) {
			padding-right: 15px;
			padding-left: 15px;
			margin-top: 20px;
			margin-bottom: 20px;
	    }		
	}	
	&__other-cities{
		select{
			border: none;
			width: 220px;
		}
	    @media only screen and (max-width:  @screen-lg-max) {
	        margin-bottom: 20px;
	    }		
	    @media only screen and (max-width:  @screen-sm-max) {
			font-size: @font-size-small;
	    }		
	}
	&__search{
		label{
			position: relative;

			input{
				border: none;
				outline: none;
				border-bottom: 1px solid @text-gray; // fade(@text-gray, 50%);
				width: 250px;

				&:focus::-webkit-input-placeholder{
					color: transparent;					
				}				
				&:focus::placeholder{
					color: transparent;					
				}
				
			}
			i{
				position: absolute;
				right: 0;
				opacity: 0.5;
			}
		}
	}
	&__nav{
		margin-bottom: 15px;
	}	
}

.nav{
	&__list{
		padding-left: 0;
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: space-around;
		font-size: @font-size-big;
	    @media only screen and (max-width:  @screen-sm-max) {
			display: block;
	    }		
	}
	&__item{
		list-style-type: none;

	    @media only screen and (max-width:  @screen-sm-max) {
			display: block;
			padding-top: 10px;			
			padding-bottom: 10px;
			border-top: 1px solid @text-gray;
		    &:last-child{
				border-bottom: 1px solid @text-gray;		    	
		    }					
	    }	
	
	}
	&__link--active{
		text-decoration: underline;
		font-weight: 700;
	}
}
.other-cities{

	&__inner{
		display: inline-block;
		position: relative;
		cursor: pointer;		
	}
	i{
		margin-left: 20px;
	}
	&__list{
		display: none;
		position: absolute;
		top: 25px;
		right: 20px;
		background-color: #fff;
		border: 1px solid @text-gray;
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		z-index: 6;
	}
	&__item{
		padding: 5px 25px;
		border-bottom: 1px solid @text-gray;
		&:last-child{
			border-bottom: none;
		}
	}
}