.sidebar{
	font-family: @myriad-regular;
	padding-top: 30px;	
	margin-left: 40px;
	margin-right: 20px;


	&__services{

	}
	&__offers{

	}
	&__specialists{

	}
}

.services{
	&__title{
		background-color: @pale-bg;
		color: @text-color;
		font-size: 1em;
		padding: 10px;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
	}
	&__accordion{
		padding-left: 0;
		margin: 0;
	}
	&__item{
		list-style-type: none;		
		border-bottom: 2px solid @text-gray;
		position: relative;
		&:before{
			content: "";
			display: none;
			transform: rotate(45deg);
			position: absolute;
			z-index: 1;
			top: 7px;
			right: 13px;
			background: @pale-bg;
			border-bottom: 1px solid @text-gray;
			border-right: 1px solid @text-gray;
			width: 10px;
			height: 10px;
			transition: all 0.325s ease;
		}
		&:hover&:before{
			display: inline-block;
		}		
		&:after{
			display: none;
			position: absolute;
			top: -15px;
			right: -15px;
			padding: 5px 10px;
			border-radius: 5px;
			font-size: @font-size-small;
			color: @text-gray;
			content: 'Кликните для просмотра раздела';
			background: @pale-bg;
			border: 1px solid @text-gray;
			transition: all 0.325s ease;
		}
		&:hover&:after{
			display: inline-block;
		}
	}
	&__link-main{
		font-weight: 700;
		display: inline-block;
		padding: 15px 0 10px;
		margin-right: 40px;
		&--active{
			color: #000;
			text-decoration: underline;
		}
	}	
	&__link{
		display: block;
		padding: 5px 0 20px;
		color: @text-gray;	
			
		&--active{
			color: #000;
			font-weight: 700;			
		}
	}
	&__label{
		cursor: pointer;
		position: absolute;
		right: 10px;
		top: 15px;
	}
	&__content{
		padding: 5px 10px 5px 20px;
		display: none;
	}
}


.offers{
	&__title{
		background-color: @pale-bg;
		color: @text-color;
		font-size: 1em;
		padding: 10px;
		font-weight: normal;
		margin-bottom: 20px;
		text-align: center;
	}
	&__list{
		padding-left: 0;
		margin: 0;
	}
	&__item{
		list-style-type: none;
		width: 100%;
		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
}

.specialists{
	&__title{
		background-color: @pale-bg;
		color: @text-color;
		font-size: 1.2em;
		padding: 10px 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	&__list{
		padding-left: 0;
		margin: 0;
	}
}
.specialist{
	list-style-type: none;

	&__img{
		width: 100%;
		img{
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__text{
		font-size: @font-size-bigger;
		margin: 20px 0 40px;
	}
	&__name{
		margin: 10px 0;
	}	
	&__icq{
		color: @text-gray;
		margin: 10px 0;
	}
	&__skype{
		color: @text-gray;
		margin: 10px 0;
	}
}