.page{
	padding-left: 20px;
	padding-right: 40px;

    @media only screen and (max-width:  @screen-sm-max) {
        padding-right: 0;
        padding-left: 0;
    }
	&__breadcrumbs{
		font-size: 0.8em;
		color: @text-gray;
		a{
			margin-right: 10px;
			margin-left: 10px;
			color: @text-gray;
			&:first-of-type{
				margin-left: 0;
			}
		}
		span{
			margin-right: 10px;
			margin-left: 10px;
		}
	}
	&__title{
	
	}
	&__glossary{
		margin-bottom: 10px;
		margin-top: 25px;
	}
}
.item{
	padding-top: 10px;
	padding-bottom: 25px;

	&:first-of-type{
		padding-top: 15px;
	}
}
.glossary{
	&__all{
		margin-right: 20px;
	}
	&__letter{
		margin-right: 5px;
	}
}