.page-header{
	font-family: @myriad-regular;
	text-align: center;
	
	&__inner{
		padding-top: 20px;
		box-shadow: 7px 4px 5px 0px rgba(0, 0, 0, 0.11);
		position: relative;
		z-index: 2;
	}
	&__line{
		position: relative;
		padding-bottom: 30px;
	    @media only screen and (max-width:  @screen-md-max) {
	        padding-bottom: 10px;
	    }		
		&--first{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-bottom: 15px;
			&:after{
				content: '';
				width: 100%;
				height: 1px;
				background-color: #000;
				margin-right: 40px;
				margin-left: 40px;
				margin-top: 15px;
			    @media only screen and (max-width:  @screen-lg-max) {
			        display: none;
			    }					
			}
		}		
	}

	&__flags{
		text-align: left;
		margin-top: 5px;
		padding: 0 10px;
	    @media only screen and (max-width:  @screen-lg-max) {
	        text-align: center;
	        flex: 0 0 100%;
	    }		
	}
	&__flag-item{
		width: 26px;
		height: 16px;
		display: inline-block;
		vertical-align: top;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: .5;
		&:hover{
			opacity: 1;
		}
		&--active{
			opacity: 1;
		}
		&--rus{
			background-image: url(../img/rus.png);
		}
		&--eng{
			background-image: url(../img/eng.png);
		}		
	}
	&__rss{
		width: 16px;
		height: 16px;
		margin-left: 5px;
		display: inline-block;
		vertical-align: top;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../img/rss.png);	
	}
	&__shipping{
		padding: 0 10px;
		flex: 0 0 25%;
	    @media only screen and (max-width:  @screen-lg-max) {
	        margin: 10px 0;
	        flex: 0 0 100%;
	    }
	    @media only screen and (max-width:  @screen-sm-max) {
			font-size: @font-size-small;
	    }	    		
	}
	&__address{
		padding: 0 10px;
		flex: 0 0 50%;
	    @media only screen and (max-width:  @screen-lg-max) {
	        padding: 0 50px;
	        margin-bottom: 20px;
	        flex: 0 0 100%;
	    }			
	    @media only screen and (max-width:  @screen-sm-max) {
	        display: flex;
	        padding: 0;
	    }		
	}
	&__address-item{
		text-align: left;
		display: flex;
		justify-content: space-between;

	    @media only screen and (max-width:  @screen-lg-max) {
	        text-align: center;
	        margin-left: 0;
	        margin-right: 0;
	    }
	    @media only screen and (max-width:  @screen-sm-max) {
	        display: block;
	        width: 50%;
			font-size: @font-size-small;
	    }
		p{
			margin: 0;
		}
	}
	&__city{
		min-width: 140px;
	}	
	&__social{
		margin: 7px 10px 0;
		i{
			font-size: 24px;
			margin-right: 7px;
			cursor: pointer;
			// opacity: 0.5;
			transition: all 0.325s ease;
			// &:hover{
			// 	opacity: 1;
			// }
		}
	    @media only screen and (max-width:  @screen-lg-max) {
	        margin-bottom: 10px;
	        flex: 0 0 100%;
	    }		
	}
	&__logo{
		display: block;
		margin-bottom: 15px;
		margin-right: auto;

	    @media only screen and (max-width:  @screen-sm-max) {
			padding-right: 15px;
			padding-left: 15px;
			margin-top: 20px;
			margin-bottom: 20px;
	    }		
	}	
	&__search{
		label{
			position: relative;

			input{
				border: none;
				outline: none;
				border-bottom: 1px solid @text-gray; // fade(@text-gray, 50%);
				width: 250px;

				&:focus::-webkit-input-placeholder{
					color: transparent;					
				}				
				&:focus::placeholder{
					color: transparent;					
				}				
			}
			i{
				position: absolute;
				right: 0;
				opacity: 0.5;
			}
		}
	}
	&__other-cities{
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 30px;
		text-align: right;
		// left: 0;
		// text-align: left;
		// padding-left: 30px;
		font-size: @font-size-small;
	}
	&__nav{
		margin-bottom: 15px;
	    @media only screen and (max-width:  @screen-md-max) {
	        margin-bottom: 0;
	    }		
	}	
}

.other-cities{
	select{
		border: none;
		width: 220px;
	}
    @media only screen and (max-width:  @screen-lg-max) {
        margin-bottom: 20px;
    }		
    @media only screen and (max-width:  @screen-sm-max) {
		font-size: @font-size-small;
    }		
}

.nav{
	&__hamburger{
	    display: none;
	    @media only screen and (max-width:  @screen-sm-max) {
			display: block;
	    }
	}
	&__wrapper{
		display: block;
	    @media only screen and (max-width:  @screen-sm-max) {
			display: none;
	    }
	}
	&__list{
		padding-left: 0;
		margin: 0;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		font-size: @font-size-big;
	    @media only screen and (max-width:  @screen-lg-max) {
			width: 80%;
			margin: 0 auto;
	    }		
	    @media only screen and (max-width:  @screen-sm-max) {
	    	width: 100%;
			display: block;
	    }		
	}
	&__item{
		list-style-type: none;
	    @media only screen and (max-width:  @screen-lg-max) {
			margin: 0 30px;
			padding-top: 10px;			
			padding-bottom: 10px;			
	    }	
	    @media only screen and (max-width:  @screen-sm-max) {
			display: block;

			border-top: 1px solid @text-gray;
		    &:last-child{
				border-bottom: 1px solid @text-gray;		    	
		    }					
	    }	
	
	}
	&__link--active{
		text-decoration: underline;
		font-weight: 700;
	}	
}
.hamburger{
  display: block;
  padding-top: 5px;
  padding-bottom: 25px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 3px;
    background-color: @text-gray;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background-color: @text-gray;
    }
    &:before{
      transform: translateY(-250%);
    }    
    &:after{
      transform: translateY(150%);
    }    
  }
}
.other-cities{

	&__inner{
		display: inline-block;
		position: relative;
		cursor: pointer;		
	}
	i{
		margin-left: 20px;
	}
	&__list{
		display: none;
		position: absolute;
		top: 25px;
		right: 20px;
		background-color: #fff;
		border: 1px solid @text-gray;
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		z-index: 6;
	}
	&__item{
		padding: 5px 25px;
		border-bottom: 1px solid @text-gray;
		&:last-child{
			border-bottom: none;
		}
	}
}

